.text-label {
	margin: 0pt;
	padding: 0pt;
	color: #ddd;
}

.title-label {
	font-size: 18pt;
	text-decoration: underline;
	margin: 0pt;
	margin-bottom: 6pt;
	color: #ddd;
}

.title_label_h1 {
	font-weight: bold;
	font-size: 20pt;
}
.viewtype-picker {
	align-self: right;
}

.info-panel {
	justify-self: flex-end;
}

.checklist-container {
	background-color: #fee43e;
	color: #333333;
	min-width: 70%;
	margin: 50px 0px 50px 30px;
	min-height: 400px;
}

.buttonList-container {
	margin-top: 75px;
}
